<div>
    <h1>Lista de productos agregados en tiempo real</h1>
    <div>
        <p id="products"></p>
      
    </div>
    

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>