<div>
    <h1>Vista de Carrito en tiempo Real </h1>
    <div >
        <p>Carrito ID:</p>
        <p >{{cartid}}</p>
        <p>Productos:</p>
        <p id="cart">{{cartid}}</p>

    </div>


</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeCart.js"></script>
