
.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
  }
  
  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }
  #lblCartCount {
      font-size: 12px;
      background: #ff0000;
      color: #fff;
      padding: 0 5px;
      margin-top: 5px;
      vertical-align: top;
      margin-left: -5px; 
  }
  